:root {
  --pr
}

body {
  font-family: Roboto;
  list-style-type: none;
  background-color: #e5e5e5;
  }

a {
  text-decoration: none;
}

.site-nav :hover,
.site-nav :focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  color: #2196F3;
  
}
.auth-nav :focus {
  color: #2196F3;
  }
  
.blu-text {
font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #212121;
}

.black-text {
  color: #212121;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.color-text {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14em;
}
.background-grey {
  background: #f5f4fa;
}

.white-text {
  color: #ffffff;
  background: #2196f3;
}
.hero-text {
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.text-transform {
  text-transform: uppercase;
}
.color-and-back {
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  list-style: none;
}
.back {
  background-color: #f5f4fa;
}
.back-footer {
  background-color: #2f303a;
  }
.text-color {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.back-blu {
  background-color: #2196f3;
}

ul {
  list-style: none;  
}
.grey-back :hover {
  background: blue;
  color: white;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65em;
}
 h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  line-height: 3em;
  color: #212121;
 }

 .test {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87em;
  color: #757575;
 }
 .contact-text {
   font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
 }